
.mt-xl, .my-xl{
  margin-top: 7.5rem;
  @include pad{
    margin-top: 10rem;
  }
 
}

.mb-xl, .my-xl{
  margin-bottom: 7.5rem;
  @include pad{
    margin-bottom: 10rem;
  }
}

.mt-lg, .my-lg{
  margin-top: 1.5rem;
  @include pad{
    margin-top: 5rem;
  }
}

.mb-lg, .my-lg{
  margin-bottom: 1.5rem;
  @include pad{
    margin-bottom: 5rem;
  }
}

.mt-md, .my-md{
  margin-top: 2rem;
  @include pad{
    margin-top: 2.5rem;
  }
}

.mb-md, .my-md{
  margin-bottom: 2rem;
  @include pad{
    margin-bottom: 2.5rem;
  }
}


.pt-xl, .py-xl{
  padding-top: 7.5rem;
  @include pad{
    padding-top: 10rem;
  }
}

.pb-xl, .py-xl{
  padding-bottom: 7.5rem;
  @include pad{
    padding-bottom: 10rem;
  }
}

.pt-lg, .py-lg{
  padding-top: 2.5rem;
  @include pad{
    padding-top: 5rem;
  }
}

.pb-lg, .py-lg{
  padding-bottom: 2.5rem;
  @include pad{
    padding-bottom: 5rem;
  }
}

.fs-sm{
  font-size: 14px;
}

.rounded-4, .btn{
  border-radius: 1rem;
}

.rounded-5{
  border-radius: 1.25rem;
}

.icon-lg{
  width: 80px;
  height: auto;
}

.icon-md{
  width: 24px;
  height: auto;
}

.icon-sm{
  width: 16px;
  height: auto;
}